* @cariad-optima/optima-core-team
cariad/ @cariad-optima/optima-core-curators
package-configurations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel
curations/ @cariad-optima/optima-core-curators @cariad-optima/Embitel
