* @cariad-optima/optima-core-team
cariad/* @cariad-optima/optima-curators/core-curators
package-configurations/* @cariad-optima/optima-curators/core-curators
curations/* @cariad-optima/optima-curators/core-curators
