* @cariad-optima/optima-core-team @britoOSS
cariad/ @cariad-optima/optima-curators/core-curators
package-configurations/ @cariad-optima/optima-curators/core-curators
curations/ @cariad-optima/optima-curators/core-curators
